In [2]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "last"

In [11]:
time_temp = dt.datetime.now()

engine = create_engine('postgresql://kevin_ngo:vsv40qaGaw3rVAS4QWd3r@cloud2go-redshift-invoice2go.cvijiumx2xhk.us-west-2.redshift.amazonaws.com:5439/cloud2go')
connect = engine.connect()
with open(f'/Users/kevinngo/Library/Application Support/PremiumSoft CyberTech/Navicat CC/Common/Settings/0/0/PostgreSQL/I2G_redshift2/cloud2go/public/Payments Metrics (distribution test).sql', 'r') as f:
    query = f.read().replace('%', '%%')
df = pd.read_sql(query, connect)
connect.close()

time_temp = round((dt.datetime.now() - time_temp).total_seconds(),2)
print(f'query executed in {time_temp} seconds')
print("{:,}".format(len(df)),'rows')
df.head()

query executed in 71.72 seconds
1454961

,v2se_document_id,payments_enabled_doc,sent_time,document_id,type,created_bkt,usd_sub_total,payments_enabled,switches,payment_events,payment_enabled_behavior,accountid,created_date_utc,country,industry,paid,transaction_amount_usd
0,4bb1d4fc-889a-4ed6-8400-06aa58bb9500,True,2019-04-03 19:23:03,4bb1d4fc-889a-4ed6-8400-06aa58bb9500,invoice,"(b) 100-1,000",120.000000,True,0,2,sticky,10756979,2014-05-12 18:23:22.400,US,Home and building maintenance,True,120.000000
1,fc37bc55-26eb-4cda-8e91-2d3c01392409,True,2019-04-01 10:55:24,fc37bc55-26eb-4cda-8e91-2d3c01392409,invoice,(a) <100,0.711238,True,16,24,switched,22159433,2017-03-29 05:27:00.593,AU,construction,True,0.938834
2,7ee3b978-b920-4718-bb5a-0b04778ae9a0,True,2019-04-01 05:52:22,7ee3b978-b920-4718-bb5a-0b04778ae9a0,invoice,"(c) 1,000-5,000",1050.000000,True,0,8,sticky,23044959,2018-08-17 00:46:42.250,US,Home and building maintenance,True,1050.000000
3,b2a8f233-6b08-4593-97cc-7b10161c1243,True,2019-04-01 14:18:51,b2a8f233-6b08-4593-97cc-7b10161c1243,invoice,"(b) 100-1,000",123.000000,True,18,21,switched,crtmech_new,2012-01-24 16:36:08.817,US,Transportation and Warehousing,True,104.550000
4,52603955-4364-440e-8927-f5a771f8e9f9,True,2019-04-01 02:50:39,52603955-4364-440e-8927-f5a771f8e9f9,invoice,(a) <100,75.000000,True,0,1,sticky,20699219,2015-06-29 21:48:18.537,US,Health and Personal care,True,75.000000

In [4]:
# https://stackoverflow.com/questions/477486/how-to-use-a-decimal-range-step-value
for x in range(1, 11):
    print(x/10, ':', df.usd_sub_total.quantile(x/10))

0.1 : 71.6166348515192
0.2 : 125.0
0.3 : 200.0
0.4 : 315.0
0.5 : 500.0
0.6 : 813.825396039991
0.7 : 1380.0
0.8 : 2503.55618776671
0.9 : 5534.0
1.0 : 749039.829302987

In [22]:
df['usd_sub_total_quant'] = 0
for x in range(1,11):
    df.loc[df.usd_sub_total > df.usd_sub_total.quantile(x/10), 'usd_sub_total_quant'] = x/10